@import "tailwindcss";

@theme {
  --font-sans:
    "Inter Variable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-text: oklch(15.04% 0.009 274.27);
  --color-background: oklch(88.78% 0.015 281.93);
  --color-primary: oklch(34.84% 0.152 262.74);
  --color-secondary: oklch(70.12% 0.124 272.08);
  --color-accent: oklch(72.86% 0.07 148.59);

  --origin-wave: 70% 70%;
  --animate-wave: wave 2.5s ease-in-out infinite;

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    15% {
      transform: rotate(14deg);
    }
    30% {
      transform: rotate(-8deg);
    }
    40% {
      transform: rotate(14deg);
    }
    50% {
      transform: rotate(-4deg);
    }
    60% {
      transform: rotate(10deg);
    }
    70% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

@layer theme {
  :root,
  :host {
    @variant dark {
      --color-text: oklch(95.55% 0.005 274.96);
      --color-background: oklch(22.63% 0.021 280.49);
      --color-primary: oklch(71.9% 0.132 264.2);
      --color-secondary: oklch(35.12% 0.154 271.79);
      --color-accent: oklch(82% 0.105 235.72);
    }
  }
}

@layer base {
  body {
    @apply leading-relaxed; /* 1.625 */
  }
}
