---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div>
    <h1>About me</h1>
    <h2>...and the new Astro site!</h2>

    <p>
      Pretty much just walking through the astro guide right now 😅, well
      problem i think the docs is pretty old so it's wasn't using layout
    </p>
    <p>
      Take the little step again because why not am I right? Always the beginner
      or the develper world will humble you quick.
    </p>
  </div>
</Layout>
