---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div>
    <h1>Blog</h1>
    <p>
      Pretty much where the blog section will live ig, i'm imagine some grid
      like blogs post may be. Categorize 🤔 ??
    </p>
  </div>
</Layout>
