---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout pageTitle="Home Page">
  <Hero />
  <section id="recent-posts" class="flex min-h-screen justify-center"></section>
</Layout>
