---
import PronouceNameTile from "@/components/PronounceNameTile.astro";
import { KeyboardTile } from "@/components/islands/KeyboardTile";
import PodcastTile from "@/components/PodcastTile.astro";
import FlagTile from "@/components/FlagTile.astro";
import CaffeineTile from "@/components/CaffeineTile.astro";
import WorkflowTile from "@/components/WorkflowTile.astro";
import MarathonTile from "@/components/MarathonTile.astro";
---

<section
  id="bento-grid"
  class="grid max-w-[70rem] auto-rows-[minmax(200px,1fr)] grid-cols-1 gap-2 px-4 text-center sm:grid-cols-2 sm:px-6 md:px-8 lg:grid-cols-3 lg:gap-4"
>
  <FlagTile />
  <PronouceNameTile />
  <PodcastTile />
  <MarathonTile />
  <CaffeineTile />
  <WorkflowTile />
</section>
