---
import { getDistanceText } from "@/utils/distance";
import { Icon } from "astro-icon/components";

const { text, country } = await getDistanceText();
---

<div
  class="relative flex flex-col items-center justify-center gap-3 rounded-2xl border border-primary/20 bg-primary/10 p-4 shadow-lg backdrop-blur-md lg:relative dark:shadow-black/50"
>
  <div
    class="lg:absolute lg:top-0 lg:left-1/2 lg:mb-4 lg:-translate-x-1/2 lg:-translate-y-[20%]"
  >
    <div class="flag-wave-container motion-safe:after:animate-flag-wave">
      <svg
        class="h-20 w-30 rounded lg:h-24 lg:w-36"
        viewBox="0 0 30 20"
        xmlns="http://www.w3.org/2000/svg"
        version="1.1"
      >
        <rect width="30" height="20" fill="#C8102E"></rect>
        <polygon
          fill="#FFCC00"
          points="15,4 11.47,14.85 20.71,8.15 9.29,8.15 18.53,14.85"></polygon>
      </svg>
    </div>
  </div>
  <p class="w-4/5 text-sm sm:text-base lg:mt-24">
    I'm from Ho Chi Minh City, Vietnam which
    <span class="text-accent italic">{text}</span>
    {
      country ? (
        <span>{`fellow ${country}`} </span>
      ) : (
        <span>
          according to your <Icon name="mdi:ip" class="inline-block" />{" "}
        </span>
      )
    }
  </p>
</div>
