---
import Avatar from "@/components/Avatar.astro";
---

<section
  class="mt-4 flex h-[clamp(600px,100svh,1000px)] flex-col items-center justify-center gap-4 p-8 md:gap-8"
>
  <div
    class="mb-4 flex w-fit items-center gap-2 rounded-full border border-secondary/50 px-3 py-1 text-sm font-medium text-text"
  >
    <div class="relative flex size-1.5">
      <span
        class="absolute inline-flex h-full w-full animate-ping rounded-full bg-accent/50"
      ></span>
      <span class="relative inline-flex size-1.5 rounded-full bg-accent"></span>
    </div>
    <span>Available for projects</span>
  </div>

  <Avatar />

  <h1
    class="font-pixel text-5xl font-semibold text-primary sm:text-7xl lg:text-8xl"
  >
    Ngoc Huynh.
  </h1>

  <div class="mt-4 grid gap-4 text-text/85 sm:text-xl lg:text-2xl">
    <p>I’m a software engineer who loves building things that actually work.</p>
    <p>
      I tinker with code, Linux, and systems — and share what I learn along the
      way.
    </p>
    <p>
      I believe tech should be playful and fulfilling — not just a means to an
      end.
    </p>
  </div>
</section>
