---
import { Image } from "astro:assets";
import Avatar from "../components/Avatar.astro";
---

<section
  class="mt-4 flex min-h-[clamp(5svh,30rem,80svh)] flex-col items-center justify-center px-[clamp(1rem,2vw,3rem)]"
>
  <div class="flex w-full max-w-3xl flex-col gap-4">
    <div
      class="flex w-fit items-center gap-2 rounded-full border border-secondary/50 px-3 py-1 text-sm font-medium text-text"
    >
      <div class="relative flex size-1.5">
        <span
          class="absolute inline-flex h-full w-full animate-ping-slow rounded-full bg-accent/50"
        ></span>
        <span class="relative inline-flex size-1.5 rounded-full bg-accent"
        ></span>
      </div>
      <span>Available for projects</span>
    </div>

    <Avatar />
    <h1 class="font-pixel text-[clamp(1rem,1rem+3vw,3rem)] text-primary">
      Hey, I'm Ngoc.
    </h1>

    <div
      class="flex flex-col gap-4 text-[clamp(1rem,0.9rem+0.5vw,1.25rem)] text-balance text-text/85"
    >
      <p>I'm an Engineer mostly focus on the software part currently.</p>
      <p>
        I tinker and write about code, linux and lesson picked up along the way.
      </p>
      <p>
        I belive software and tech could be playful and fulfiling rather than
        just a means to an end.
      </p>
    </div>
  </div>
</section>
