---
import { Image } from "astro:assets";
import avatar from "../assets/avatar.png";
---

<section
  class="flex min-h-[clamp(5svh,30rem,80svh)] flex-col items-center justify-center overflow-hidden px-[clamp(1rem,2vw,3rem)]"
>
  <div class="w-full max-w-6xl space-y-[clamp(1rem,1rem+1vw,1.25rem)]">
    <div
      class="flex w-fit items-center gap-2 rounded-full border border-secondary/50 px-3 py-1 text-sm font-medium text-text"
    >
      <div class="relative flex size-1.5">
        <span
          class="absolute inline-flex h-full w-full animate-ping-slow rounded-full bg-accent/50"
        ></span>
        <span class="relative inline-flex size-1.5 rounded-full bg-accent"
        ></span>
      </div>
      <span>Available for projects</span>
    </div>

    <div class="flex items-center justify-between">
      <h1 class="text-[clamp(1rem,1rem+3vw,3rem)] font-extrabold text-primary">
        Hey, I'm Ngoc. <br /> A software engineer.
      </h1>
    </div>

    <p
      class="text-[clamp(1rem,0.9rem+0.5vw,1.25rem)] leading-[clamp(1.5,1.3+0.3vw,1.8)] text-balance text-text/70"
    >
      I tinker with code, Linux, and systems — stuff breaks, I fix it, and share
      what I pick up along the way. To me, tech’s best when it’s playful,
      digestible, and always a trade-off.
    </p>
  </div>
</section>
