<section
  class="relative flex min-h-[clamp(5svh,30rem,80svh)] items-center justify-center overflow-hidden px-[clamp(1rem,2vw,3rem)]"
>
  <div
    class="relative z-10 w-full max-w-3xl space-y-[clamp(1rem,1rem+1vw,1.25rem)] text-text"
  >
    <div
      class="flex w-fit items-center gap-2 rounded-full border border-secondary/50 px-3 py-1 text-sm font-medium"
    >
      <div class="relative flex size-1.5">
        <span
          class="absolute inline-flex h-full w-full animate-ping-slow rounded-full bg-accent/50"
        ></span>
        <span class="relative inline-flex size-1.5 rounded-full bg-accent"
        ></span>
      </div>
      <span>Available for projects</span>
    </div>

    <div class="flex items-center justify-between">
      <h1
        class="text-[clamp(2rem,1rem+3vw,3.5rem)] font-extrabold text-primary"
      >
        Hey, I'm Ngoc.
      </h1>
    </div>

    <p
      class="text-[clamp(1rem,0.9rem+0.5vw,1.25rem)] leading-[clamp(1.5,1.3+0.3vw,1.8)] text-balance"
    >
      I tinker with code, Linux, and systems — stuff breaks, I fix it, and share
      what I pick up along the way. To me, tech’s best when it’s playful,
      digestible, and always a trade-off.
    </p>
  </div>
  <!-- Inline SVG background -->

  <svg
    class="pointer-events-none absolute bottom-0 left-0 h-[clamp(30svh,10rem+5vw,50svh)] w-full"
    id="visual"
    viewBox="0 0 960 540"
    preserveAspectRatio="none"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    version="1.1"
    ><path
      d="M0 337L20 340.7C40 344.3 80 351.7 120 362C160 372.3 200 385.7 240 390C280 394.3 320 389.7 360 378.2C400 366.7 440 348.3 480 353.7C520 359 560 388 600 392.7C640 397.3 680 377.7 720 379.3C760 381 800 404 840 415.7C880 427.3 920 427.7 940 427.8L960 428L960 541L940 541C920 541 880 541 840 541C800 541 760 541 720 541C680 541 640 541 600 541C560 541 520 541 480 541C440 541 400 541 360 541C320 541 280 541 240 541C200 541 160 541 120 541C80 541 40 541 20 541L0 541Z"
      class="fill-primary"></path><path
      d="M0 466L20 456.7C40 447.3 80 428.7 120 433C160 437.3 200 464.7 240 476.3C280 488 320 484 360 473.7C400 463.3 440 446.7 480 448.3C520 450 560 470 600 467.3C640 464.7 680 439.3 720 436.3C760 433.3 800 452.7 840 454.7C880 456.7 920 441.3 940 433.7L960 426L960 541L940 541C920 541 880 541 840 541C800 541 760 541 720 541C680 541 640 541 600 541C560 541 520 541 480 541C440 541 400 541 360 541C320 541 280 541 240 541C200 541 160 541 120 541C80 541 40 541 20 541L0 541Z"
      class="fill-secondary"></path></svg
  >
</section>
