---
const { link, iconName } = Astro.props;
import { Icon } from "astro-icon/components";
---

<a href={link} class="icon-link"> <Icon name={iconName} /></a>

<style>
  .icon-link svg {
    font-size: 1.5rem;
  }
</style>
